@font-face { 
    font-family:National; 
    src: url(fonts/National-Regular.otf); 
    font-weight: 400 ; 
}

body { 
    background: rgba(247,229,227,1); 
    /*    background: linear-gradient(to bottom, rgba(247,229,227,1) 48%,rgba(247,179,170,1) 99%);*/
    margin: 0; 
}

ul {
    list-style-type: none;
    font-family: National;
    font-weight: bold;
    color: black;
    line-height: 4; 
} 


.sidenav {
    height: 100%; 
    width: 180px; /* Set the width of the sidebar */
    position: fixed;
    background-color: #EB6459;
    padding-top: 20px;
}


a:visited {
    text-decoration: none; 
    color: black; 
}

a:link {
    text-decoration: none; 
    color: black; 
}

a:hover {
    text-decoration: none; 
    color: rgba(247,229,227,1); 
}

h1.page_title {
    font-family: National;
    font-weight: bold;
    color: black;
    /*    grid-column-start: 2 ;*/
    /*    grid-column-end: 3;*/
    padding: 20px ;
    margin-left: 200px; 
    padding-bottom: 0;
    margin-bottom: 0;

}

.project_descriptions {
    font-family: National;
    font-weight: lighter;
    font-size: 15px;
    line-height: 1.7;
    color: grey;

}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2.5px solid black;
    margin: 1em 0;
    /*    margin-left: 220px;*/
    width: 3%;

}


h2.nina {
    font-family: National;
    font-weight: lighter;
    color: #EB6459;
    margin-top: 30px ;
    margin-left: 220px;
    padding: 0 ;
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
}

.bio_image {
    grid-column-start: 1 ;
    grid-column-end: 2 ;  
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    margin-top: 30px ;
}

#logo { 
    width: 100px; 
    height: auto; 
    padding-left: 20px; 
}

#me {
    object-fit: cover ;
    width: 100% ;
    margin-left: 220px;

}

#branding_project {
    width: 80%;
    height: auto;
    margin-left: 200px;

}


#mos{
    width: 70%;
    height: auto;
    margin-left: 220px;

}



#patterns {
    width: 78%;
    height: auto;
    margin-left: 210px;

}

#bard_logo {
    width: 50%;
    height: auto;
    margin-left: 200px;
    margin-bottom: 40px;
}

#davinci {
    width: 80%;
    height: auto;
    margin-left: 220px;
}


p { 
    font-family: National;
    font-weight: normal;
    line-height: 25px ;
    margin-left: 220px;

}

.button {
    margin-top: 2em ;
    background-color: #EB6459; 
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: all .3s ease ;
    border-radius: 3px;
}

.button:hover {
    background-color: #983e37;
    color: white;
}

.image_container img { 
    width: 100% ;
    height: 100% ;
    object-fit: cover ;
} 


.column {
    display: grid;
    grid-template-columns: 800px 800px 800px;
    grid-gap: 1px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    object-fit: cover;

}

#grid_parent {
    display: grid; 
    grid-template-columns: 1fr ; 

}

.bio_grid {
    display: grid; 
    grid-template-columns: .5fr 1fr ; 
    grid-template-rows: 1fr ; 
    grid-column-gap: 20px; 
}

.final_logo_description {
    display: grid; 
    grid-template-columns: .5fr .5fr ; 
    grid-template-rows: 1fr 1fr ; 
    grid-column-gap: 20px; 

}

#thumbnail_grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 300px) ; /* Only for 2 rows. */
    grid-column-gap: 20px; 
    grid-row-gap: 20px;  
    padding: 20px; 
    margin-left: 200px;
}

.bottomrow {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 20px; 
    margin-left: 220px;



}





/*
p, div, h1, h2, h3, h4 {
border: 2px solid red ;
}
*/

