@font-face { 
    font-family:National; 
    src: url(fonts/National-Regular.otf); 
    font-weight: 400 ; 
}

body { 
    background: linear-gradient(to bottom, rgba(247,229,227,1) 48%,rgba(247,179,170,1) 99%);
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #EB6459;
    margin: 7px 10;
}

#sidenav {
    height: 100%;
    width: 70px;
    background-color: black;
    padding-top: 20px;
    grid-row-start: 1;
    grid-row-end: 3 ;

}

h1.page_title, h1.nina {
    font-family: National;
    font-weight: 400 ;
    color: #EB6459;
    grid-column-start: 2 ;
    grid-column-end: 3;
    padding: 20px ;
}

h1.nina {
    letter-spacing: 5px;
    padding: 0 ;
}

p { 
    font-family: National;
    /*    width: 50%;*/
    font-weight: normal;
    line-height: 20px ;
}

div.image_container {
    text-align: center;
     
}

img { 
    width: 50%;
    
} 

/* end about page */
.bar {
    margin:0px;
    width: 100%;
    height: 2px;
    background-color: #EB6459;
    margin: 50px 90;
}

.column {
    display: grid;
    grid-template-columns: 800px 800px 800px;
    grid-gap: 1px;
    margin-left: 80px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    object-fit: cover;

}



#grid_parent {
    display: grid; 
    grid-template-columns: 80px 1fr ;
    /*    padding: 20px ;*/
}

#thumbnail_grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px ;
    grid-column-gap: 20px; 
    grid-row-gap: 20px;  
}

.bottomrow {
/*
    grid-column-start: 1;
    grid-column-end: 4;
*/
    grid-template-rows: 1fr 1fr;
    padding: 20px;
  
 
}

#thumbnail_grid img {
    object-fit: cover;
}



p, div, h1, h2, h3, h4 {
    border: 2px solid red ;
}
